body {
    width: 20%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    background-image: linear-gradient(5deg, white, rgb(0, 177, 204));
}

button {
    width: 200px;
    height: 80px;
    border-radius: 10px;
    border: none;
    transition: transform 100ms linear;
    font-size: larger;
}

input {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: larger;
}

button:hover {
    transform: scale(1.1);
}

label {
    text-align: center;
    color: white;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    border: none;
    font-size: xx-large;   
}